body {
            margin: 0;
            padding: 0;
            font-family: 'Lato', Helvatica Neue, Helvatica, Arial, sans-serif;
            font-size: 14px;
        }

.inner-part{
     width: 1170px;
    margin: 0 auto;
}

.starline:after{
    font-family: FontAwesome;
    content: "\f005";
    position:relative;
}


/* NAVIGATION BAR */
        #nav-container {
            background-color: #333333;
            height: 100px;
        }
        #nav-inner {
            height: 100px;
        }
        #logo {
            float: left;
            font-size: 2.2em;
            margin: 30px 20px;
            letter-spacing: 1px;
            font-weight: 700;
            color: white;
        }
        #nav-menu {
            float: right;
            list-style: none;
            margin: 0;
            padding: 0;
            margin: 30px 20px;
            font-size: 1.2em;
            letter-spacing: 2px;
            
        }
        #nav-inner a {
           
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
        }
        #nav-menu li {
            float: right;
            padding: 10px;
            
        }
 #nav-menu li a{
            color:#D8D8D8;
        }    
        #nav-menu li a:hover{
            color:#ffffff;
        }
        .clear{
            clear: both;
        }

/* HEADER */
#header {
    background-color: #F5F5F5;
    text-align: center;
    color: #2e323a;
    }
#header-inner{
    padding-top: 70px;
    padding-bottom: 50px;
}
#profile-img{
    border-radius: 50%;
    width: 200px;
    }

h1{
    text-transform: uppercase;
    font-size:3em;
    font-weight:700;
    margin-top:15px;
    margin-bottom: 30px;
    }


#hd-starline{
    border:none;
    border-top: solid 5px;
    max-width: 250px;
    overflow: visible;
}



#hd-starline:after{
    top:-17px;
    font-size: 2em;
    background-color: #F5F5F5;
    padding: 10px;
}




#header-inner span{
    padding: 10px;
    font-size: 2.5em ;
    
    }

/* CONTENT */
#content {
    background-color: #ffffff;
    text-align: center;
    color: white;
    }
#content-inner{
    padding-top: 50px;
    padding-bottom: 100px;
}

h2{
    text-transform: uppercase;
    font-size:2em;
    font-weight:700;
    margin-top:15px;
    margin-bottom: 15px;
    color: #2e323a;
    }

#cnt-starline{
    border:none;
    border-top: solid 3px;
    max-width: 200px;
    overflow: visible;
    color: #2e323a;
}
#cnt-starline:after{
    top:-10px;
    font-size: 1.5em;
    background-color: white;
    padding: 7px;
}
.portfolio-item{
    width: 31%;

    background-color: #111111;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 10px;
    margin-top: 20px;
    
}
.portfolio-item img{
    width: 100%;
}

.portfolio-item a{
    display: block;
    position: relative;
}

.caption{
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #D8D8D8;
    position: absolute;
    top: 0;
    left: 0;
}
.caption:hover{

    opacity: 0.5;

}
.caption-content{
    color: black;
    position: absolute;
    top: 31%;
    width: 100%;
    font-size: 3em;
}

/*-------------ABOUT-------------------*/

#about {
    background-color: #F5F5F5;
    text-align: center;
    color: #2e323a;
    }

#about-inner{
    padding-top: 70px;
    padding-bottom: 50px;
}

#about-starline{
    margin-top: 20px;
    border:none;
    border-top: solid 5px;
    max-width: 250px;
    overflow: visible;
}

#about-starline:after{
    top:-17px;
    font-size: 2em;
    background-color: #F5F5F5;
    padding: 10px;
}
#about-content{
    text-align: justify;
    column-count: 2;
    column-gap: 40px;
    column-width: 100%;
}
#about-cv{
    margin-top: 30px;
    color: #2e323a;
    width: 250px;
    padding: 15px;
    border-style: none;
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 400;
    background-color: #F5F5F5;
    border: solid 2px #2e323a;
    border-radius: 8px;
    }
#about-cv i{
    padding-right: 10px;
    }
#about-cv:hover{
    color: #ffffff;
    background-color: #2e323a;
    border: solid 2px #F5F5F5;
    }