body {
            margin: 0;
            padding: 0;
            font-family: 'Lato', Helvatica Neue, Helvatica, Arial, sans-serif;
            font-size: 14px;
        }

.inner-part{
     width: 1170px;
    margin: 0 auto;
}
/* NAVIGATION BAR */
        #nav-container {
            background-color: #2e323a;
            height: 100px;
        }
        #nav-inner {
            height: 100px;
        }
        #logo {
            float: left;
            font-size: 2.2em;
            margin: 30px 20px;
            letter-spacing: 1px;
            font-weight: 700;
        }
        #nav-menu {
            float: right;
            list-style: none;
            margin: 0;
            padding: 0;
            margin: 30px 20px;
            font-size: 1.2em;
            letter-spacing: 2px;
        }
        #nav-inner a {
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
        }
        #nav-menu li {
            float: right;
            padding: 10px;
        }
        #nav-menu li a:hover{
            color:#A67163;
        }
        .clear{
            clear: both;
        }

/* HEADER */
#header {
    background-color: #96998E;
    text-align: center;
    color: white;
    }
#header-inner{
    padding-top: 100px;
    padding-bottom: 100px;
}
#profile-img{
    border-radius: 50%;
    width: 200px;
    }

#header h1{
    text-transform: uppercase;
    font-size: 5em;
    font-weight:700;
    margin:15px;
    }
#starline{
    border:none;
    border-top: solid 5px;
    max-width: 250px;
    overflow: visible;
    margin-top: 30px;
   
}
#starline:after{
    
    font-family: FontAwesome;
    content: "\f013";
    position:relative;
    
    top:-17px;
    font-size: 2em;
    background-color: #96998E;
    padding: 10px;
    
}


#header-inner span{
    padding: 10px;
    font-size: 2.5em ;
    
    }